table td {
    padding: 0;
}

table th {
    padding: 0;
}

.isSelected {
    background-color: lightgrey;
}

.isSelectedHead {
    font-weight: bold;
    background-color: lightgrey;
}

.canSelect {
    color: darkblue;
}

.standard td {
    width:100px;
}