<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 menu">
            <nav>
                <ul>
                    <li class="title"><a [routerLink]="['/user']">User</a></li>
                    <li class="title"><a [routerLink]="['/parkrun']">Parkrun</a></li>
                    <li class="title"><a [routerLink]="['/login']" *ngIf="!isLoggedIn">Login</a></li>
                    <li class="title"><a [routerLink]="['/logout']" *ngIf="isLoggedIn">Logout</a></li>
                </ul>
            </nav> 
        </div>
        <div class="col-md-9 offset-md-1">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>